@import '../../scss/vars';

.Button {
  cursor: pointer;
  color: $color-white;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 1.3rem;
  transition: all 0.5s ease;
  margin: 1rem 0rem;
}

.Primary {
  background-color: $color-main;

  &:hover {
    background-color: lighten($color-main, 15%);
  }

  &:active {
    background-color: darken($color-main, 3%);
  }
}

.Secondary {
  background-color: $color-secondary;

  &:hover {
    background-color: lighten($color-secondary, 15%);
  }

  &:active {
    background-color: darken($color-secondary, 3%);
  }
}
