@import '../../../scss/vars.scss';

.Nav {
  color: $color-white;
  background-color: $color-black-transparent-07;
  height: 40px;
  padding: 0px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
}

.UserBlock {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.UserInfoBlock {
  margin-left: 1rem;
}
