@import '../../../scss/vars.scss';

.Header {
  background-image: url('../../../assets/img/Header_cabinet_bgr.png');
  height: 800px;
  min-width: 1400px;
  margin-bottom: -40px;
  color: $color-white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 200px;
  padding-left: 100px;
  padding-right: 100px;
}

.Card {
  width: 300px;
  height: 400px;
  cursor: pointer;
  margin: 10px;
  border-radius: 30px;
  padding-top: 170px;
}

.Darker {
  height: 200px;
  padding: 10px;
  text-align: center;
  background-color: $color-black-transparent-04;
  transition: all 0.5s ease;

  &:hover {
    background-color: $color-black-transparent-06;
  }

  & p {
    color: $color-white;
    font-size: 30px;
    line-height: 1.4em;

    &:hover {
      & span.BigText {
        color: $color-main;
      }
      & span.MidText {
        color: lighten($color-main, 30%);
      }
    }

    & span.BigText {
      font-size: 46px;
      transition: all 0.3s ease;
    }

    & span.MidText {
      font-size: 34px;
      transition: all 0.5s ease-in-out;
    }
  }
}

.Sessions {
  background-image: url('../../../assets/img/sessions.png');
}
.Locations {
  background-image: url('../../../assets/img/locations.png');
}
.Schedule {
  background-image: url('../../../assets/img/shedule.png');
}
.Accessories {
  background-image: url('../../../assets/img/accessories.png');
}
