@import '../../../scss/vars.scss';

.Nav {
  color: $color-white;
  background-color: $color-black-transparent-07;
  height: 40px;
  display: grid;
  grid-template-columns: 90px 1fr 90px;
  position: sticky;
  top: 0;
  z-index: 10;
}

.UserBlock {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Link {
  color: $color-white;
}

.MainLink {
  justify-self: start;
  align-self: center;
  padding-left: 1rem;
}

.ProfileLink {
  justify-self: end;
  align-self: center;
  padding-right: 1rem;
}

.ScrollLink {
  color: $color-main;
}

.Sections {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.Section {
  cursor: pointer;
  transition: all 0.5s ease;
  font-size: 1.15rem;

  &:hover {
    color: lighten($color-main, 10%);
  }
}
