@import '../scss/vars.scss';

.formsControls {
  display: flex;
}

.formsControls.error {
  text-align: center;
}

.formsControls input {
  padding: 0.5rem 1rem;
  border: 1px solid $color-gray-light;
  border-radius: 20px;
  text-align: center;
  outline: none;
  transition: box-shadow 0.3s ease;
  min-width: 300px;
  &:focus {
    box-shadow: 0px 0px 3px 2px $color-main;
  }
}

.formsControls.error input {
  box-shadow: 0px 0px 3px 2px $color-error;
  margin-bottom: 5px;
  position: relative;
}

.formsControls.error .warning {
  background-color: $color-error;
  color: $color-white;
  font-size: 0.9rem;
  font-weight: 700;
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  margin-top: 7px;
  margin-left: -25px;
  &:hover {
    cursor: pointer;
  }
}

.formSummaryError {
  background-color: $color-error;
  color: $color-white;
  padding: 0.5rem;
  font-size: 0.9em;
  border-radius: 0.2rem;
  margin-bottom: 1rem;
  text-align: center;
}

.formSummarySuccess {
  color: $color-success;
  font-size: 0.8em;
  margin-bottom: 1rem;
}

[tooltip] {
  position: relative;
}

[tooltip]::before,
[tooltip]::after {
  font-size: 0.9em;
  user-select: none;
  pointer-events: none;
  position: absolute;
  display: none;
}
[tooltip]::before {
  content: '';
  border: 5px solid transparent;
  z-index: 1001;

  top: 50%;
  border-left-width: 0;
  border-right-color: $color-error;
  right: calc(0em - 5px);
  transform: translate(0.5em, -50%);
}
[tooltip]::after {
  content: attr(tooltip);
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0.5rem;
  border-radius: 0.1rem;
  box-shadow: 0 1em 2em -0.5em $color-black-transparent-03;
  background: $color-error;
  color: $color-white;
  z-index: 1000;

  top: 50%;
  left: calc(100% + 5px);
  transform: translate(0.5em, -50%);
}

[tooltip]:hover::before,
[tooltip]:hover::after {
  display: block;
  animation: tooltips 300ms ease-out forwards;
}

[tooltip='']::before,
[tooltip='']::after {
  display: none !important;
}

@keyframes tooltips {
  to {
    opacity: 0.9;
    transform: translate(0, -50%);
  }
}

input[type='checkbox'],
input[type='radio'] {
  display: none;
}

label input[type='radio'] + span {
  position: relative;
}

label input[type='radio'] + span:after {
  content: '';
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: $color-white;
}

label input[type='radio'] + span:before {
  content: '';
  display: inline-block;
  position: absolute;
  top: -1px;
  left: 5px;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: transparent;
  transition: all ease 0.5s;
}

label input[type='radio']:checked + span:before {
  background-color: $color-main;
  top: -2px;
  left: 3px;
  height: 14px;
  width: 14px;
}

label input[type='checkbox'] + span:after {
  content: '\2714';
  display: inline-block;
  color: transparent;
  background-color: $color-white;
  font-size: 1.5rem;
  font-weight: 900;
  line-height: 22px;
  margin: -5px 5px 0 0;
  height: 20px;
  width: 20px;
  border-radius: 3px;
  text-align: center;
  vertical-align: middle;
  transition: all ease 0.3s;
}

label input[type='checkbox']:checked + span:after {
  color: $color-main;
}
