$color-main: orange;
$color-secondary: rgb(88, 252, 184);
$color-error: rgb(219, 2, 67);
$color-success: rgb(1, 161, 148);
$color-gray-light: #ddd;
$color-gray-middle: #bbb;
$color-gray-dark: #555;
$color-white: white;
$color-black: black;
$color-black-transparent-0: rgba(0, 0, 0, 0);
$color-black-transparent-03: rgba(0, 0, 0, 0.3);
$color-black-transparent-04: rgba(0, 0, 0, 0.4);
$color-black-transparent-05: rgba(0, 0, 0, 0.5);
$color-black-transparent-06: rgba(0, 0, 0, 0.6);
$color-black-transparent-07: rgba(0, 0, 0, 0.7)

